body {
    text-align: center;
    font-family: arial;
    background-color: rgba(127, 255, 127, 0.5);
    color: black;
}

#container {
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 50px auto;
}

#main-title {
    font-size: 50px;
    width: 100%;
}

#break-label {
    border: 1px solid;
    display: inline-block;
    width: 210px;
}

#break-label > * {
    display: inline-block;
}

#break-label h3 {
    width: 100%;
}


#session-label {
    border: 1px solid;
    display: inline-block;
    width: 210px;
}

#session-label > * {
    display: inline-block;
}

#session-label h3 {
    width: 100%;
}

#timer-label {
    border: 5px solid;
    border-radius: 30px;
    width: 100%;
    margin: 5px auto;
}

#timer-control {
    border: 1px solid;
    margin: 5px auto;
}